<style>
    .body {
    height: 100vh;
    width: 100%;
    background-color: #222222;
    }
    </style>
    <body class="body" >
        <app-header></app-header>
        <div>
            <div id="contact">
                Contact
            </div>
            <div id="data">
                <span id="phno">9686424630</span>
                <img id="ph" src="../../assets/image phone.png" alt="">
                <span id="cont1">Fahradit klasický smysluplný text vhodnou bezvýznamovo</span>
                <span id="add">Chennai,India</span>
                <img id="loc" src="../../assets/image loc.png" alt="">
                <span id="cont2">Fahradit klasický smysluplný text vhodnou bezvýznamovo</span>
                <span id="mail">dhamini2311@gmail.com</span>
                <img id="email" src="../../assets/image mail.png" alt="">
                <span id="cont3">Fahradit klasický smysluplný text vhodnou bezvýznamovo</span>
            </div>
            
        </div>
    </body>
    